<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.ac.charusat.cspit.it.schemes">

    <application
        android:allowBackup="true"
        android:icon="@drawable/gujaraticon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gujaraticon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activityedu" />
        <activity android:name=".activityagriculture" />
        <activity android:name=".activityclimate" />
        <activity android:name=".activityhealth" />
        <activity android:name=".activityfinance" />
        <activity android:name=".activityhouse" />
        <activity android:name=".activityfood" />
        <activity android:name=".activityforest" />
        <activity android:name=".activityinformation" />
        <activity android:name=".activityadmin" />
        <activity android:name=".activityindustry" />
        <activity android:name=".activityenergy" />
        <activity
            android:name=".activity_profile"
            android:label="My Profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity_tellafriend"
            android:label="Tell a Friend"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity_rateus"
            android:label="Rate Us"
            android:theme="@style/AppTheme.NoActionBar" />
        />
        <activity
            android:name=".activity_help"
            android:label="Help"
            android:theme="@style/AppTheme.NoActionBar" />
        />
        <activity
            android:name=".activity_developers"
            android:label="Developers"
            android:theme="@style/AppTheme.NoActionBar" />
        />
        <activity
            android:name=".activity_about"
            android:label="About"
            android:theme="@style/AppTheme.NoActionBar" />
        />
        <activity android:name=".Edu_sc1" />
        <activity android:name=".activity_signup" />
        <activity android:name=".mainActivity1" />
        <activity android:name=".activity_sign_up" />
        <activity android:name=".SignUpActivity"></activity>
    </application>

</manifest><!--
<activity android:name=".SplashScreen">
<intent-filter>
    <action android:name="android.intent.action.MAIN" />

    <category android:name="android.intent.category.LAUNCHER" />
</intent-filter>

</activity>

<activity
android:name=".MainActivity"
android:label="@string/app_name"
android:theme="@style/AppTheme.NoActionBar">
<intent-filter>
    <action android:name="android.intent.action.MAIN" />

    <category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
</activity>
-->
